<header class="header">
  <img class='logo' src="{{baseHref}}assets/logo_cuvalley.png">
  WLEW - Water Level Estimation Webapp
</header>

<div class="input">
  <ibm-date-picker [invalid]="invalid" invalidText="Data poza wspieranym zakresem"
                   label="Wybierz datę" [dateFormat]="'Y-m-d'" [value]="['2017-09-13']" (change)="changeDate($event)"></ibm-date-picker>
</div>
<div class="chart-container">
  <canvas  id="MyChart" height="40vh" width="80vw" >{{ chart }}</canvas>
</div>
<footer class="footer">Proudly Crafted By: Lepiej Miedź niż nie mieć</footer>
